option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: setup.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: setup.settings_production
    PYTHONPATH: /var/app/current
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
