{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Senha Alterada - Innovator</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="singin-singup">
          <div class="sign-in-form" style="align-items: center;">
            <i class="bx bx-check-circle" style="font-size: 80px; color: #4481eb; margin-bottom: 20px;"></i>
            <h2 class="title">Senha Alterada com Sucesso!</h2>
            <p style="margin-bottom: 20px; text-align: center; color: #666; max-width: 400px;">
              Sua senha foi alterada com sucesso. Agora você já pode entrar com sua nova senha.
            </p>

            <a href="{% url 'user:register' %}" class="btn solid">
              Entrar
            </a>
          </div>
        </div>
      </div>
      <div class="container-painel">
        <div class="panel esq-panel">
          <div class="content">
            <h3>Tudo pronto!</h3>
            <p>Sua conta está segura novamente.</p>
          </div>
          <img
            src="{% static 'assets/img/undraw_space-exploration_dhu1.svg' %}"
            class="image"
            alt=""
          />
        </div>
      </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
